<div class="body">
    <div class="wrapper">
        <!-- Formulario Registro Sesión -->
        <form method="post" [formGroup]="formRegistro" (submit)="registrarUsuario()">
            <h1>Registro sesión</h1>
            <div class="input-box">
                <input type="email" placeholder="Email" formControlName="email">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Nombre" formControlName="nombre">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Teléfono" formControlName="telefono">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña" formControlName="password">
                <i class="fa-solid fa-lock"></i>
            </div>
    
            <button type="submit" class="btn boton" [disabled]="!formRegistro.valid">Enviar</button>
    
            <div class="register-link">
                <p>¿Ya estás registrado? <a routerLink="/login">Inicia sesión</a></p>
            </div>
        </form>
        <!-- Fin Formulario Registro Sesión -->
    </div>
</div>
