<div class="row" style="margin-top: 25px;">
    <div class="col">
        <!-- Container -->
        <div class="container">
            <div *ngIf="suplemento" class="divContenedor">
                <img src="{{suplemento.url}}" class="img-fluid imagenSuplemento" alt="{{suplemento.nombre}}">
                <h2 class="nombreSuplemento">{{suplemento.nombre}}</h2>
                <p class="descSuplemento">{{suplemento.descripcion}}</p>
                <button class="btn btn-primary" (click)="agregarAlCarrito()">Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>