<header>
    <nav class="navbar navbar-expand-lg"
         style="background: linear-gradient(90deg, rgba(141,148,241,1) 0%, rgba(157,141,241,1) 49%, rgba(181,141,241,1) 100%);;">
        <div class="container-fluid">
            <a class="navbar-brand text-white nombreTiendaSuplementos">Tienda de Suplementos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 5px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="/SupplementsStore/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="/SupplementsStore/suplementos">Nutrición</a>
                    </li>
                    <li class="nav-item perfilLink">
                        <a routerLink="/SupplementsStore/perfil" class="nav-link text-white">Perfil</a>
                    </li>
                    <li *ngIf="esAdmin == true" class="nav-item">
                        <a routerLink="/admin/usuarios" class="nav-link text-white">Administración</a>
                    </li>
                </ul>
                <a routerLink="/SupplementsStore/perfil" class="iconoPerfil"><i class="bi bi-person-circle" style="font-size: 25px;"></i></a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>