<div class="body">
    <div class="wrapper">
        <form method="post" asp-controller="AccesoControlador" asp-action="LoginUsuario">
            <h1>Inicio Sesión</h1>
            <div class="input-box">
                <input type="email" placeholder="Email" name="email_usuario" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña" name="psswd_usuario" required>
                <i class="fa-solid fa-lock"></i>
            </div>
    
            <div class="remember-forgot">
                <a routerLink="/home">¿Has olvidado la contraseña?</a>
            </div>
    
            <button type="submit" class="boton">Enviar</button>
    
            <div class="register-link">
                <p>¿Todavía no estás registrado? <a routerLink="/register">Registrate</a></p>
            </div>
        </form>
    </div>
</div>