<div class="row tablaAdmin">
    <div class="col">
        <div style="margin-bottom: 5px;">
            <a class="btn btn-outline-secondary" routerLink="/admin/usuarios" role="button">Usuarios</a>
            <a class="btn btn-outline-secondary" routerLink="/admin/suplementos" role="button">Productos</a>
        </div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Editar/Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="usuarios!.length < 1">
                    <td colspan="5" style="text-align: center;">No existe ningún usuario.</td>
                </tr>
                <tr *ngFor="let usuario of usuarios; let i = index">
                    <td scope="row">{{i + 1}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.email}}</td>
                    <td *ngIf="usuario.id_acceso == 1">Usuario</td>
                    <td *ngIf="usuario.id_acceso == 2">Admin</td>
                    <td>
                        <i class="bi bi-pencil" style="color: green; padding-left: 15px;" routerLink="/admin/detalle-usuario/{{usuario.id}}"></i>
                        <i class="bi bi-trash" style="color: red; padding-left: 35px;" (click)="eliminarUsuario(usuario)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
